body {
  margin: 0;
  padding-top: 60px;
  overflow-y: hidden;
  height:100%
}

.header {
  position: fixed;
  height: 60px;
  top: 100vh;
  background-color: white;
  width: 100%;
  transition: top 1s;
}

.header img {
    width: 3.5em;
    float: right;
    margin-right: 20%;
}

.header h2 {
  float: right;
  font: bold 20px / 40px sans-serif;
  margin: 10px;
}

.wrapper {
  margin: auto;
  margin-top: 100vh;
  transition: margin-top 1s;
  max-width: 50em;
  /*display: none;*/
}

#splash {
  position: absolute;
  transition: bottom 1s;
  width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(https://cloud.githubusercontent.com/assets/12450298/10082566/48bfe300-62f2-11e5-9a7d-70f772d54235.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  /*z-index: 2;*/
}

#splash:hover {
 cursor:pointer;
}

#splash img {
  position: absolute;
  left: 20%;
  width: 60% ;
  /*height: 25em;*/
  /*margin: auto;*/
  bottom: 8%;

  /*top: 10vh;*/
  /*height: 50em;*/
  /*left:*/
  transition: bottom 1s;
  /*position: relative;*/
}

.container h1 {
  color: white;
  font-family: 'Segoe UI', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;;
}

/*DESKTOP*/
@media screen and (max-width: 480px) {

    .container h1{
      margin-top: 7.5em;
    }

    #splash img {
        margin-bottom: 10em;
    }
}

.container {
  margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
}

.container h1 {
  position: absolute;
 top: 200px;
 left: 0;
 width: 100%;
}

.header img {
  height: 50px;
  margin: 5px;
}

.content-main {
  margin: 4em 1em 1em 1em;
  font-family: 'Segoe UI', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;;
}

/*.clear {
  clear: both;
}*/

h3 {
  margin-top: 0;
}

.article {
  margin: 0% 0% 2% 0%;
  font-family: 'Andale Mono', AndaleMono, monospace;
}

.player {
  width: 100%;
}

.titles {
  color: black;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

  a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}

p {
  color: black;
}

.titles:visited {
  text-decoration: none;
}

.titles:hover {
  background-color: #E6E6E6;
  transition: background-color .5s;
  text-decoration: none;
}


h3 {
  text-transform: uppercase;
}


.flavour {
  font-size: 1em;
}
