/*.html {
  height: 100%
}*/

body {
  margin: 0;
  overflow-y: hidden;
  height:100%
}

.header {
  position: fixed;
  height: 4em;
  top: 0px;
  background-color: white;
  width: 100%;
  /*margin: 0em 0em 0.5em 0em;*/
  display: none;
}

.header img {
    width: 3.5em;
    float: right;
    margin-right: 20%;
}

.wrapper {
  margin-top: 100vh;
  transition: margin-top 1s;
  /*display: none;*/
}

#splash {
  position: absolute;
  transition: bottom 1s;
  width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(https://cloud.githubusercontent.com/assets/12450298/10079980/fac4af3a-62e4-11e5-8821-7a1d8fcdf246.jpg) no-repeat center center;
  background-size: cover;
  /*z-index: 2;*/
}

/*DESKTOP*/
@media screen and (min-width: 400px){
  .header{
    height: 5%;
  }
  .header img {
    width: 5%;
    margin: 1% 0.5% 1% 0.5%;
  }
  /*.content-main {
    width: auto;
  }*/
}

/*MOBILE*/
.header img {
    width: 20%;
    margin: 2% 1% 1.5% 1%;

}

.content-main {
<<<<<<< HEAD
  margin: 4em 1em 1em 1em;
  font-family: 'Segoe UI', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;;
=======
  /*margin: 0.4% 0.1% 0.1% 0.1%;*/
  /*width: 100%;*/
  text-size: 20%;
>>>>>>> gh-pages
}

/*.clear {
  clear: both;
}*/

.article {
<<<<<<< HEAD
  margin: 2em 0 2em 0;
  font-family: 'Andale Mono', AndaleMono, monospace;
=======
  margin: 7% 0% 2% 0%;
>>>>>>> gh-pages
}

.player {
  width: 100%;
}

.titles {
  color: black;
  font-size: 2em;
  text-decoration: none;
}

  a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}

p {
  color: black;
}

.titles:visited {
  text-decoration: none;
}

.titles:hover {
  background-color: #E6E6E6;
  transition: background-color .5s;
  text-decoration: none;
}





.flavour {
  font-size: 1em;
}
