.header {
  position: fixed;
  height: 4em;
  top: 0px;
  background-color: white;
  width: 100%;
  /*margin: 0em 0em 0.5em 0em;*/
}

.header h2{

  float: right;
  margin-right: 20%;
}

/*DESKTOP*/
@media screen and (min-width: 400px){
  .header{
    height: 5%;
  }
  .header img {
    width: 5%;
    margin: 1% 0.5% 1% 0.5%;
  }
  /*.content-main {
    width: auto;
  }*/
}

/*MOBILE*/
.header img {
    width: 20%;
    margin: 2% 1% 1.5% 1%;

}

.content-main {
  /*margin: 0.4% 0.1% 0.1% 0.1%;*/
  /*width: 100%;*/
  text-size: 20%;
}

/*.clear {
  clear: both;
}*/

.article {
  margin: 7% 0% 2% 0%;
}

.player {
  width: 100%;
}
